{{ define "main" }}
<main>
  <article>
    <div class="post-container">
      <div class="post-content">
        <div class="title">
          <h1 class="title">{{ .Title }}</h1>
          {{ if not .Params.hideDate }}
          <div class="meta">Posted on {{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
          {{ end }}
        </div>
        <section class="body">
          {{ .Content }}
        </section>
      </div>
    </div>
  </article>
</main>
{{ end }}
